@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --base-color: #111111;
    --base-alt-color: #373737;
    --text-color: #ffffff;
    --border-color: #646464;
    --border-alt-color: #878787;

    --operation-primary-color: rgb(250, 154, 0);
    --operation-primary-alt-color: rgba(250, 154, 0, 0.85);

    --operation-control-color: rgba(34, 34, 34, 1);
    --operation-control-alt-color: rgba(65, 65, 65, 0.85);

    --main-font: 'Manrope', sans-serif;
    --alt-font: 'Roboto Slab', serif;

    --radius: 12px;
    --opacity: 0.7;
    --margin: 16px;
}

.lightmode {
    --base-color: #dedede;
    --base-alt-color: #c1c1c1;
    --text-color: #111111;
    --border-alt-color: #888888;

    --operation-control-color: rgb(194, 194, 194);
    --operation-control-alt-color: rgb(168, 168, 168);
    --operation-primary-alt-color: rgb(255, 175, 47);

    --opacity: 1;
}
html {
    background-color: var(--base-color);
}
body {
    margin: 0;
    background-color: var(--base-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;

    font-family: var(--main-font);
    min-height: 100vh;
}

.loading-screen {
    position: absolute;
    z-index: 999;
    width: 100%;
    min-height: 100%;
    background-color: var(--base-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--text-color);
    box-shadow:
        20px 0 var(--text-color),
        -20px 0 var(--text-color);
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: var(--border-color);
        box-shadow:
            20px 0 var(--border-color),
            -20px 0 var(--text-color);
    }
    50% {
        background-color: var(--text-color);
        box-shadow:
            20px 0 var(--border-color),
            -20px 0 var(--border-color);
    }
    100% {
        background-color: var(--border-color);
        box-shadow:
            20px 0 var(--text-color),
            -20px 0 var(--border-color);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    padding-top: 0.5rem;
}
a {
    color: var(--text-color);
}
.title {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    user-select: none;
    width: 110px;
    cursor: pointer;
    text-decoration: none;
}
.subtitle {
    font-size: 1.25rem;
    opacity: 0.7;
    pointer-events: none;
}

button {
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    background-color: var(--base-color);
    font-family: var(--main-font);
    border: solid var(--border-color) 1px;
    color: var(--text-color);
    position: relative;
    display: block;
}
.theme-btn {
    border-radius: 12px;
    font-size: 16px;
    padding: 4px calc(var(--radius) - 1px);
    width: 110px;
    position: relative;
}
.theme-btn:hover {
    border-color: var(--border-alt-color);
}
.theme-btn:active {
    background-color: var(--base-alt-color);
}

.theme-btn #dark {
    display: none;
}
.theme-btn #light {
    display: block;
}
.lightmode .theme-btn #dark {
    display: block;
}
.lightmode .theme-btn #light {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    border: solid var(--border-color) 1px;
    border-radius: 12px;
    overflow: hidden;
    margin-inline: var(--margin);
}
.display {
    grid-column: span 4;
    padding: 16px;
    font-size: 30px;
    text-align: right;
    border: solid var(--border-color) 1px;
    border-top-left-radius: calc(var(--radius) - 1px);
    border-top-right-radius: calc(var(--radius) - 1px);
    outline: none;
    overflow: hidden;
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: 700;
    background-color: transparent;
}
.calculator-btn {
    padding: 12px 0px;
    font-size: 24px;
    overflow: hidden;
    user-select: none;
}
.calculator-btn:hover {
    background-color: var(--base-alt-color);
}
.calculator-btn:active {
    background-color: var(--base-color);
}

.calculator-btn.operation {
    background-color: var(--operation-control-color);
}
.calculator-btn.operation:hover {
    background-color: var(--operation-control-alt-color);
}
.calculator-btn.operation:active {
    background-color: var(--operation-control-color);
}
.calculator-btn.operation.primary {
    background-color: var(--operation-primary-color);
}
.calculator-btn.operation.primary:hover {
    background-color: var(--operation-primary-alt-color);
}
.calculator-btn.operation.primary:active {
    background-color: var(--operation-primary-color);
}

.calculator-btn.operation.primary.active {
    background-color: var(--text-color);
    color: var(--operation-primary-color);
}

.calculator-btn:nth-last-child(3) {
    border-bottom-left-radius: calc(var(--radius) - 1px);
}
.calculator-btn:last-child {
    border-bottom-right-radius: calc(var(--radius) - 1px);
}

.jfact {
    margin-inline: var(--margin);
    font-family: var(--alt-font);
    font-weight: 300;
    font-size: small;
    margin-top: 6rem;
    margin-bottom: 2rem;
    opacity: var(--opacity);
    text-align: center;
}

footer {
    align-self: flex-end;
    opacity: 0.5;
    font-size: 14px;
    margin: 12px 24px;
}

@media (width < 600px) {
    footer {
        align-self: center;
        font-size: 12px;
    }
    header {
        width: 50%;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto);
        align-self: center;
        margin-inline: var(--margin);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .title {
        grid-column: span 2;
        width: auto;
    }
    .subtitle {
        grid-column: 1;
    }
}

@media (width < 450px) {
    header {
        width: 70%;
    }
    main {
        width: 85%;
        justify-content: flex-start;
        align-self: center;
        height: auto;
    }
    .jfact {
        margin-top: 3rem;
        margin-bottom: 0;
    }
}
@media (width < 380px) {
    .calculator {
        transform: scale(0.9);
    }
}
